#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

PACKAGE=mmc-web-base
DISTRO = sarge

build:

build-control:
ifeq ($(DISTRO),sarge)
	sed 's!###PHPDEPS###!libapache2-mod-php4, php4-gd!' debian/control.in > debian/control
else
	sed 's!###PHPDEPS###!libapache2-mod-php5 | libapache2-mod-php4, php5-xmlrc | php4-common, php5-gd | php4-gd!' debian/control.in > debian/control
endif


clean: build-control
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	# Add here commands to clean up after the build process.
	$(MAKE) clean

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	# Add here commands to install the package into debian/$(PACKAGE).
	$(MAKE) install PREFIX=/usr DESTDIR=$(CURDIR)/debian/$(PACKAGE)
	install --mode=644 confs/apache/mmc.conf debian/$(PACKAGE)/etc/mmc/apache.conf

	# Remove Scripaculous license, readme and changelog
	rm -f $(CURDIR)/debian/$(PACKAGE)/usr/share/mmc/jsframework/MIT-LICENSE
	rm -f $(CURDIR)/debian/$(PACKAGE)/usr/share/mmc/jsframework/CHANGELOG
	rm -f $(CURDIR)/debian/$(PACKAGE)/usr/share/mmc/jsframework/README


# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_link
	dh_compress
	# Keep /etc/mmc/ini as root:www-data and 640
	dh_fixperms -X/etc/mmc/mmc.ini
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
