*.pyc
*~
*.mo
Makefile.in
aclocal.m4
Makefile
web/Makefile
services/Makefile
services/src/Makefile
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
py-compile
depcomp
services/3rd_party/wol-src
services/3rd_party/pulse2-wol
services/init.d/pulse2-imaging-server
services/init.d/pulse2-inventory-server
services/init.d/pulse2-launchers
services/init.d/pulse2-package-server
services/init.d/pulse2-scheduler
services/src/.deps/
