Source: mmc-agent
Section: admin
Priority: optional
Maintainer: Cédric Delfosse <cdelfosse@mandriva.com>
Build-Depends: debhelper (>= 5.0.37.2)
Build-Depends-Indep: python-all-dev (>= 2.3.5-11), python-all, python-support (>= 0.5.3)
Standards-Version: 3.7.2

Package: mmc-agent
Architecture: all
Depends: ${python:Depends}, python-twisted-web, python-pyopenssl, python-mmc-base
Description: Mandriva Management Console Agent
 XMLRPC server of the MMC API.
 .
 Homepage: http://lds.linbox.org

Package: python-mmc-base
Architecture: all
Depends: ${python:Depends}, python-ldap, python-twisted-web, python-mmc-plugins-tools
Replaces: python-lmc-base, python-mmc-plugins-tools (<< 2.3.0)
Conflicts: python-lmc-base, python-mmc-plugins-tools (<< 2.3.0)
Description: Mandriva Management Console base plugin
 Contains the base infrastructure for all MMC plugins:
  * support classes
  * base LDAP management classes
 .
 Homepage: http://lds.linbox.org

Package: python-mmc-samba
Architecture: all
Depends: ${python:Depends}, python-pylibacl, acl, python-mmc-base, samba-common
Replaces: python-lmc-samba
Conflicts: python-lmc-samba
Description: Mandriva Management Console SAMBA plugin
 SAMBA management plugin for the MMC.
 .
 Homepage: http://lds.linbox.org

Package: python-mmc-mail
Architecture: all
Depends: ${python:Depends}, python-mmc-base
Replaces: python-lmc-mail
Conflicts: python-lmc-mail
Description: Mandriva Management Console base plugin
 Mail account management plugin for the MMC.
 .
 Homepage: http://lds.linbox.org

Package: python-mmc-proxy
Architecture: all
Depends: ${python:Depends}, python-mmc-base, squidguard
Replaces: python-lmc-proxy
Conflicts: python-lmc-proxy
Description: Mandriva Management Console proxy plugin
 Squidguard/Squid management plugin for the MMC.
 .
 Homepage: http://lds.linbox.org

Package: python-mmc-network
Architecture: all
Depends: ${python:Depends}, python-mmc-base
Replaces: python-lmc-network
Conflicts: python-lmc-network
Description: Mandriva Management Console network plugin
 DNS/DHCP management plugin for the MMC.
 .
 This plugin requires a LDAP-patched version of ISC DHCPD and BIND9.
 .
 Homepage: http://lds.linbox.org
