#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

PACKAGE=lmc-agent

ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.

	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp 
	dh_testdir

	# Add here commands to compile the package.

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	# Add here commands to clean up after the build process.
	$(MAKE) clean

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	# Install all into debian/tmp
	$(MAKE) PREFIX=/usr DESTDIR=$(CURDIR)/debian/tmp install

	# Delete upstream init script 
	# (it'll be replaced by a debian specific one)
	rm -f $(CURDIR)/debian/tmp/etc/init.d/lmc-agent

	# Install all
	dh_install -i --sourcedir=debian/tmp

binary-arch: build install
	# Nothing to do #
	
# Build architecture-independent files here.
binary-indep: build install
	dh_testdir -i
	dh_testroot -i
	dh_installchangelogs -i
	dh_installdocs -i
	dh_installdocs -ppython-lmc-base contrib
	dh_installinit -i
	dh_link -i
	dh_compress -i
	# exclude files in /etc/lmc to keep 600 mode
	dh_fixperms -X/etc/lmc/plugins -X/etc/lmc/agent
	dh_python -i
	dh_installdeb -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
