li.info a {
        padding: 0px 0px 5px 20px;
        margin: 0 0px 0 0px;
        background-image: url("modules/msc/graph/images/detail.gif");
        background-repeat: no-repeat;
        background-position: left top;
        line-height: 18px;
        text-decoration: none;
        color: #FFF;
}

li.file a {
        padding: 0px 0px 5px 20px;
        margin: 0 0px 0 0px;
        background-image: url("modules/backuppc/graph/img/file.png");
        background-repeat: no-repeat;
        background-position: left top;
        line-height: 18px;
        text-decoration: none;
        color: #FFF;
}

td.folder {
	padding: 0 0 0 34px;
	background-image: url("modules/backuppc/graph/img/folder.png");
	background-position: 7px 7px;
        background-repeat: no-repeat;
}

td.file {
	padding: 0 0 0 34px;
	background-image: url("modules/backuppc/graph/img/file.png");
	background-position: 7px 7px;
        background-repeat: no-repeat;
}

.label span {
    float: right;
    width: 250px;
    color: grey;
}

textarea {
  width: 260px;
  height: 80px;
}

.btnPrimary {
    margin: 10px 0 0 0;
}

/* Multiselect style */

.ui-multiselect { padding:2px 0 2px 4px; text-align:left }
.ui-multiselect span.ui-icon { float:right }
.ui-multiselect-single .ui-multiselect-checkboxes input { position:absolute !important; top: auto !important; left:-9999px; }
.ui-multiselect-single .ui-multiselect-checkboxes label { padding:5px !important }

.ui-multiselect-header { margin-bottom:3px; padding:3px 0 3px 4px }
.ui-multiselect-header ul { font-size:0.9em; list-style:none; }
.ui-multiselect-header ul li { float:left; padding:0 10px 0 0 }
.ui-multiselect-header a { text-decoration:none }
.ui-multiselect-header a:hover { text-decoration:underline }
.ui-multiselect-header span.ui-icon { float:left }
.ui-multiselect-header li.ui-multiselect-close { float:right; text-align:right; padding-right:0 }

.ui-multiselect-menu { 
    display:none; padding:3px; position:absolute; z-index:10000; text-align: left;background: #fff;border:1px solid rgb(153, 153, 153); opacity:0.8; 
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}
.ui-multiselect-checkboxes { position:relative /* fixes bug in IE6/7 */; list-style:none; padding: 0px 10px 0px 10px;margin:2px }
.ui-multiselect-checkboxes label { cursor:default; display:block; border:1px solid transparent; padding:0; }
.ui-multiselect-checkboxes label input { position:relative; top:1px; left: -3px; }
.ui-multiselect-checkboxes li { clear:both; font-size:0.9em; padding-right:3px }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label { text-align:center; font-weight:bold; border-bottom:1px solid }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a { display:block; padding:3px; margin:1px 0; text-decoration:none }

/* remove label borders in IE6 because IE6 does not support transparency */
* html .ui-multiselect-checkboxes label { border:none; padding:0 }