
li.ban a{
	padding: 5px 0px 5px 20px;
	margin: 0 0px 0 0px;
	background-image: url("img/common/icn_delete.gif");
	background-repeat: no-repeat;
	background-position: left top;
	line-height: 18px;
	text-decoration: none;
	color: #FFF;
}

li.bang a{
	padding: 5px 0px 5px 20px;
	margin: 0 0px 0 0px;
	background-image: url("img/common/icn_delete.gif");
	background-repeat: no-repeat;
	background-position: left top;
	line-height: 18px;
	text-decoration: none;
	color: #FFF;
	filter: grayscale(50%);
	-webkit-filter: grayscale(50%);
	-moz-filter: grayscale(50%);
	opacity:0.5;
}

li.unban a{
	padding: 0px 0px 10px 23px;
	margin: 0 0px 0 0px;
	background-image: url("img/machines/icn_noMachinesList.gif");
	background-repeat: no-repeat;
	background-position: left top;
	line-height: 18px;
	text-decoration: none;
	color: #FFF;
}

li.unbang a{
	padding: 0px 0px 5px 23px;
	margin: 0 0px 0 0px;
	background-image: url("img/machines/icn_noMachinesList.gif");
	background-repeat: no-repeat;
	background-position: left top;
	line-height: 18px;
	text-decoration: none;
	color: #FFF;
	filter: grayscale(50%);
	-webkit-filter: grayscale(50%);
	-moz-filter: grayscale(50%);
	opacity:0.5;
}
