<table border="1" cellspacing="0" cellpadding="2">
    <tr><!--<td width="15%"> <b>nom</b></td>!-->
    <td><b>{description_dsc}</b></td>
    <td width="15%"><b>{hide}</b></td> <td width="15%"><b>{read_only}</b></td> <td width="15%"><b>{read_write}</b></td></tr>
    <!-- BEGIN formacl -->

    <tr {tr_class}>
    <td>{description}</td>
    <!--<td>{nom}</td>!-->
    <td><input type="radio" name="aclattr[{nom}]" value="" {checked_hide}></td>
    <td><input type="radio" name="aclattr[{nom}]" value="ro" {checked_ro}></td>
    <td><input type="radio" name="aclattr[{nom}]" value="rw" {checked_rw}></td>
    </tr>

    <!-- END formacl -->
</table>