

.LOG_EMERG {
  color: red;
}
.LOG_ALERT {
  color: red;
}
.LOG_CRIT {
  color: red;
}
.LOG_ERR {
  color: red;
}
.LOG_WARNING {
  color: orange;
}
.LOG_NOTICE {
  color: navy;
}
.LOG_INFO {
  color: black;
}
.LOG_DEBUG {
  color: gray;
}
