[Unit]
Description=Medulla Logs WebSocket Server
After=network.target mysql.service

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/tmp
ExecStart=/usr/bin/python3 /chemin/vers/votre/script/  -d -f /etc/medullalogws/medullalogws.ini
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target

