li.file a {
        padding: 0px 0px 5px 20px;
        margin: 0 0px 0 0px;
        background-image: url("modules/pkgs/graph/img/file.png");
        background-repeat: no-repeat;
        background-position: left top;
        line-height: 18px;
        text-decoration: none;
        color: #FFF;
}

li.info a {
        padding: 0px 0px 5px 20px;
        margin: 0 0px 0 0px;
        background-image: url("modules/msc/graph/images/detail.gif");
        background-repeat: no-repeat;
        background-position: left top;
        line-height: 18px;
        text-decoration: none;
        color: #FFF;
}
li.associate_files a {
        padding: 0px 0px 5px 20px;
        margin: 0 0px 0 0px;
        background-image: url("modules/pkgs/img/share.png");
        background-repeat: no-repeat;
        background-position: left top;
        line-height: 18px;
        text-decoration: none;
        color: #FFF;
}

td.package {
	padding: 0 0 0 37px;
	background-image: url("modules/pkgs/graph/img/package.png");
	background-position: 7px 7px;
        background-repeat: no-repeat;
}

.pkgs-title {
    font-weight: bold;
    font-size: 1.4em;
}

.label span {
    float: right;
    width: 250px;
    color: grey;
}

textarea {
  width: 560px;
  height: 220px;
}

.btnPrimary {
    margin: 10px 0 0 40%;
}
