body {
    display : flex;
}

li {
    list-style-type:none;
}

h1 {
    font-size:15px;
}

#workflow-selected-list li{
    display:block;
    margin-bottom:5px;
}

#aviable-actions .header, #current-actions .header {
    background-color: #9b9f9d;
}

#aviable-actions .header {
    margin-bottom: 3px;
}

#aviable-actions .header h1, #current-actions .header h1 {
    color:white;
}

#aviable-actions .content {
    display:none;
}

#aviable-actions,#current-actions {
    margin:5px;
    background-color:white;
}

ul {
    padding:5px;
}

#aviable-actions li:hover {
    cursor:move;
}

#current-actions li {
    width:100%;
}

#current-actions li .content {
    background-color: #fdfdfd;
    border: solid #5b5b5b 1px;
    margin-bottom:3px;
}

textarea {
    width:200px;
    height:5em;
}

.content textarea {
    width:500px;
    height:15em;
}

#upload-result {
    clear:left;
}