Source: mmc-core
Section: admin
Priority: extra
Maintainer: Adam Cécile <acecile@mandriva.com>
Build-Depends: debhelper (>= 5.0.37.2), lsb-release, python-all (>= 2.5), python-support (>= 0.5.3), gettext, autotools-dev
Standards-Version: 3.9.3
Homepage: http://mds.mandriva.org

Package: python-mmc-core
Architecture: all
Section: python
Depends: ${misc:Depends}, ${python:Depends}, python-twisted-web
Suggests: python-sqlalchemy (>= 0.5), python-mysqldb (>= 1.2.2-7)
Description: Core shared dependency for MMC API
 Contains base functions used by MMC.

Package: python-mmc-base
Architecture: all
Section: python
Pre-depends: python-mmc-core (= ${source:Version})
Depends: ${misc:Depends}, ${python:Depends}, python-ldap
Description: Mandriva Management Console base plugin
 Contains the base infrastructure for all MMC plugins:
  * support classes
  * base LDAP management classes

Package: python-mmc-ppolicy
Architecture: all
Section: python
Depends: ${misc:Depends}, ${python:Depends}, python-mmc-base (= ${source:Version})
Suggests: mmc-check-password
Description: Mandriva Management Console password policy plugin
 Contains password policy plugin to enforce minimum password security in MMC.

Package: python-mmc-dashboard
Architecture: all
Section: python
Depends: ${misc:Depends}, ${python:Depends}, python-mmc-base (= ${source:Version}), python-psutil (>= 0.6.1)
Description: Mandriva Management Console dashboard plugin
 Provides a simple dashboard in MMC.

Package: python-mmc-services
Architecture: all
Section: python
Depends: ${misc:Depends}, ${python:Depends}, python-mmc-base (= ${source:Version}), python-systemd-dbus (>= 0.1), systemd
Description: Mandriva Management Console systemd services plugin
 Handles system services through systemd.

Package: python-mmc-database
Architecture: all
Section: python
Depends: ${misc:Depends}, ${python:Depends}, python-mmc-base (= ${source:Version}), python-sqlalchemy (>= 0.7), python-mysqldb 
Description: Mandriva Management Console database common files
 Allow the use of SQL databases within MMC framework.

Package: python-mmc-report
Architecture: all
Section: python
Depends: ${misc:Depends}, ${python:Depends}, python-mmc-base (= ${source:Version}), python-mmc-database (= ${source:Version}), python-pygal, python-weasyprint, python-xlwt
Description: Generate reports within MMC framework
 Module to generate reports for other modules.

Package: mmc-agent
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-mmc-base (= ${source:Version}), python-openssl | python-pyopenssl, python (>= 2.6) | python-multiprocessing, ldap-utils, python-gobject (>= 2.21.4)
Description: Mandriva Management Console Agent
 XMLRPC server of the MMC API.

Package: mmc-web-base
Architecture: all
Depends: ${misc:Depends}, libapache2-mod-php5, php5-xmlrpc, php5-gd, apache2 | apache2-mpm-prefork, wwwconfig-common
Description: MMC web interface to interact with a MMC agent
 Mandriva Management Console web interface designed by Mandriva.

Package: mmc-web-ppolicy
Architecture: all
Depends: ${misc:Depends}, mmc-web-base (= ${source:Version})
Description: Password policy module for Mandriva MMC
 Module to enforce minimum password security in MMC.

Package: mmc-web-dashboard
Architecture: all
Depends: ${misc:Depends}, mmc-web-base (= ${source:Version})
Description: Dashboard module for Mandriva MMC
 Dashboard module in MMC.

Package: mmc-web-services
Architecture: all
Depends: ${misc:Depends}, mmc-web-base (= ${source:Version})
Description: Systemd module for Mandriva MMC
 Systemd service management module for MMC.

Package: mmc-web-report
Architecture: all
Depends: ${misc:Depends}, mmc-web-base (= ${source:Version})
Description: Generate reports within MMC framework
 Module to generate reports for other modules.
