Source: mmc-core
Section: admin
Priority: extra
Maintainer: Nicolas Lécureuil <nicolas.lecureuil@siveo.net>
Build-Depends: debhelper (>= 5.0.37.2), lsb-release, python-all (>= 2.5), gettext, autotools-dev
Standards-Version: 3.9.3
Homepage: http://www.siveo.net/

Package: python-mmc-core
Architecture: all
Section: python
Depends: ${misc:Depends}, ${python:Depends}, python-twisted-web
Suggests: python-sqlalchemy (>= 0.5), python-mysqldb (>= 1.2.2-7)
Description: Core shared dependency for MMC API
 Contains base functions used by MMC.

Package: python-mmc-base
Architecture: all
Section: python
Pre-depends: python-mmc-core (= ${source:Version})
Depends: ${misc:Depends}, ${python:Depends}, python-ldap, python-xlwt
Description: Mandriva Management Console base plugin
 Contains the base infrastructure for all MMC plugins:
  * support classes
  * base LDAP management classes

Package: python-mmc-ppolicy
Architecture: all
Section: python
Depends: ${misc:Depends}, ${python:Depends}, python-mmc-base (= ${source:Version})
Suggests: mmc-check-password
Description: Mandriva Management Console password policy plugin
 Contains password policy plugin to enforce minimum password security in MMC.

Package: python-mmc-dashboard
Architecture: all
Section: python
Depends: ${misc:Depends}, ${python:Depends}, python-mmc-base (= ${source:Version}), python-psutil (>= 0.6.1)
Description: Mandriva Management Console dashboard plugin
 Provides a simple dashboard in MMC.

Package: python-mmc-services
Architecture: all
Section: python
Depends: ${misc:Depends}, ${python:Depends}, python-mmc-base (= ${source:Version}), python-systemd-dbus (>= 0.1), systemd
Description: Mandriva Management Console systemd services plugin
 Handles system services through systemd.

Package: python-mmc-database
Architecture: all
Section: python
Depends: ${misc:Depends}, ${python:Depends}, python-mmc-base (= ${source:Version}), python-sqlalchemy (>= 0.7), python-mysqldb 
Description: Mandriva Management Console database common files
 Allow the use of SQL databases within MMC framework.

Package: python-mmc-report
Architecture: all
Section: python
Depends: ${misc:Depends}, ${python:Depends}, python-mmc-base (= ${source:Version}), python-mmc-database (= ${source:Version}), python-pygal, python-weasyprint, python-xlwt
Description: Generate reports within MMC framework
 Module to generate reports for other modules.

Package: mmc-agent
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-mmc-base (= ${source:Version}), python-openssl | python-pyopenssl, python (>= 2.6) | python-multiprocessing, ldap-utils, python-gobject (>= 2.21.4)
Description: Mandriva Management Console Agent
 XMLRPC server of the MMC API.

Package: mmc-web-base
Architecture: all
Depends: ${misc:Depends}, libapache2-mod-php7.0, php7.0-xmlrpc, php7.0-gd, apache2 | apache2-mpm-prefork, wwwconfig-common
Description: MMC web interface to interact with a MMC agent
 Mandriva Management Console web interface designed by Mandriva.

Package: mmc-web-ppolicy
Architecture: all
Depends: ${misc:Depends}, mmc-web-base (= ${source:Version})
Description: Password policy module for Mandriva MMC
 Module to enforce minimum password security in MMC.

Package: mmc-web-dashboard
Architecture: all
Depends: ${misc:Depends}, mmc-web-base (= ${source:Version})
Description: Dashboard module for Mandriva MMC
 Dashboard module in MMC.

Package: mmc-web-services
Architecture: all
Depends: ${misc:Depends}, mmc-web-base (= ${source:Version})
Description: Systemd module for Mandriva MMC
 Systemd service management module for MMC.

Package: mmc-web-report
Architecture: all
Depends: ${misc:Depends}, mmc-web-base (= ${source:Version})
Description: Generate reports within MMC framework
 Module to generate reports for other modules.

Package: mmc-web-xmppmaster
Architecture: all
Depends: ${misc:Depends}, mmc-web-base (= ${source:Version})
Description: Xmpp mmc module

Package: python-mmc-update
Architecture: all
Section: python
Depends: ${misc:Depends}, ${python:Depends}, pulse2-common, pulse-update-manager
Description: Pulse 2 plugin to manage security updates (Linux, Windows Update)
 Pulse 2 is Open Source computer system management for medium and large
 organizations.
 .
 This package contains the update plugin to handle security updates
 (Windows Updates, Linux packages) within Pulse

Package: mmc-web-update
Architecture: all
Depends: ${misc:Depends}, pulse2-common, mmc-web-base (>= 3.1.1-1)
Description: Pulse 2 plugin to manage security updates (Linux, Windows Update)
 Pulse 2 is Open Source computer system management for medium and large
 organizations.
 .
 This package contains the update plugin to handle security updates
 (Windows Updates, Linux packages) within Pulse.


Package: python-mmc-pulseupdate
Architecture: all
Section: python
Depends: ${misc:Depends}, ${python:Depends}, pulse2-common, pulse-update-manager
Description: Pulse 2 plugin to manage pulse 2 updates

Package: mmc-web-pulseupdate
Architecture: all
Depends: ${misc:Depends}, pulse2-common, mmc-web-base (>= 3.1.1-1)
Description: Pulse 2 plugin to manage pulse 2 updates

