### Add an alias /mmc on www server root
Alias /mmc @pkgdatadir@

### Allow access to lmc web directory to everyone 
<Directory @pkgdatadir@>
    AllowOverride None
    Order allow,deny
    allow from all
    php_flag short_open_tag on
    php_flag magic_quotes_gpc on
</Directory>
