[Unit]
Description=Mandriva Management Console : mmc-agent
After=samba.service slapd.service

[Service]
PIDFile=/var/run/mmc-agent.pid
Type=forking
ExecStart=/usr/sbin/mmc-agent
Restart=always

RestartSec=1
#KillMode=process

[Install]
WantedBy=multi-user.target
