[Unit]
Description=Mandriva Management Console
After=samba.service slapd.service

[Service]
PIDFile=/var/run/mmc-agent.pid
Type=forking
ExecStart=/usr/sbin/mmc-agent
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
