
li.showtarget a {
        padding: 3px 0px 5px 20px;
        margin: 0 0px 0 0px;
        background-image: url("../images/info.png");
        background-repeat: no-repeat;
        background-position: left top;
        line-height: 18px;
        text-decoration: none;
        color: #FFF;
}

li.deleteimage a {
        padding: 3px 0px 5px 20px;
        margin: 0 0px 0 0px;
        background-image: url("../images/delete.png");
        background-repeat: no-repeat;
        background-position: left top;
        line-height: 18px;
        text-decoration: none;
        color: #FFF;
}

.LOG_EMERG { 
  color: red;
}
.LOG_ALERT { 
  color: red;
}
.LOG_CRIT { 
  color: red;
}
.LOG_ERR { 
  color: red;
}
.LOG_WARNING { 
  color: orange;
}
.LOG_NOTICE { 
  color: navy;
}
.LOG_INFO { 
  color: black;
}
.LOG_DEBUG { 
  color: lightgray;
}

td.imagelogs {
    font-family: monospace;
    font-size: small;
}

.linenumber {
    font-family: monospace;
    color: gray;
}